<aside class="sidebar-right">
    <div class="sidebar-section">
        <div class="sidebar-header non-collapsible">
            <span>Summaries</span>
            <i class="fas fa-caret-down"></i>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-header collapsible-header" data-target="log-analytics-content">
            <span>Log Analytics</span>
            <i class="fas fa-minus"></i>
        </div>
        <div id="log-analytics-content" class="collapsible-content open">
            <a href="#">WAF Tags</a>
            <a href="#" class="active" id="wafRulesLink">WAF Rules</a>
            <a href="#">WAF Groups</a>
            <a href="#">WAF Latency</a>
        </div>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-header collapsible-header" data-target="client-analytics-content">
            <span>Client Analytics</span>
            <i class="fas fa-plus"></i>
        </div>
        <div id="client-analytics-content" class="collapsible-content">
            <a href="#">Browser</a>
            <a href="#">Client OS</a>
            <a href="#">Device</a>
            <a href="#">IP Address</a>
            <a href="#">Location</a>
            <a href="#">End to End</a>
            <a href="#">User ID</a>
        </div>
    </div>
     <div class="sidebar-section">
        <div class="sidebar-header collapsible-header" data-target="lb-analytics-content">
            <span>Load Balancer Analytics</span>
            <i class="fas fa-plus"></i>
        </div>
        <div id="lb-analytics-content" class="collapsible-content">
            <a href="#">VS IP Address</a>
            <a href="#">Server IP Address</a>
        </div>
    </div>
</aside>